* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: #f9fafb;
  color: #1f2937;
}

/* NAVBAR */

nav {
  background: #065f46;
  padding: 15px 40px;
  width: 100%;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-weight: 500;
}

/* CONTAINER */

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px;
}

/* TITULO */

h1 {
  margin-top: 10px;
  color: #065f46;
}

/* INPUT */

input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  margin-bottom: 30px;
}

/* GRID */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 25px;
}

/* CARD */

.card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
  transition: transform .2s;
}

.card:hover {
  transform: translateY(-4px);
}

.card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.card h3 {
  margin: 10px;
  color: #065f46;
}

.card p {
  margin: 10px;
  font-size: 14px;
  color: #4b5563;
}

.card small {
  margin: 10px;
  display: block;
  color: #6b7280;
}

/* BUTTON */

button {
  background: #10b981;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #059669;
}