body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f5;
}

h1 {
  text-align: center;
  color: #0b5e46;
  margin: 30px 0;
}

/* CONTAINER GERAL */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* GRID FILMES */
.filmes, .admin-filmes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 25px;
}

/* CARD */
.filme-card, .admin-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0,0,0,.1);
}

.filme-card img,
.admin-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.filme-card h3,
.admin-card h3 {
  margin: 10px;
  color: #0b5e46;
}

.filme-card p,
.admin-card p {
  margin: 10px;
}

/* BOTÕES */
button {
  margin: 10px;
  width: calc(100% - 20px);
  padding: 10px;
  background: #0b5e46;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.apagar {
  background: #c0392b;
}

/* FORM ADMIN */
form {
  display: grid;
  gap: 10px;
  max-width: 400px;
  margin: 0 auto 40px auto;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
/* HERO */

.hero {
  height: 80vh;
  background-image: url("https://wallpapers.com/images/hd/movie-collage-background-q1zm830g0hfww7lk.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 22px;
  margin-bottom: 30px;
}

.hero-btn {
  padding: 14px 40px;
  font-size: 18px;
  border-radius: 30px;
  background: #0b5e46;
  border: none;
  color: white;
  transition: .3s;
}

.hero-btn:hover {
  transform: scale(1.1);
  background: #10a37f;
}